<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Form</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-color: #f5f5f5;
            margin: 0;
            padding: 20px;
        }

        .page {
            width: 21cm;
            min-height: 29.7cm;
            background-color: white;
            margin: 0 auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .header {
            background-color: #1B3F6D;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 20px;
        }

        .header-left {
            display: flex;
            flex-direction: column;
            gap: 75px;
        }

        .header-logo img {
            height: 18px;
            width: auto;
        }

        .header-title {
            font-size: 14px;
            font-weight: 500;
        }

        .clinic-details {
            text-align: right;
            line-height: 1.7;
            font-size: 12px;
        }

        .clinic-name {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 6px;
        }

        .clinic-details p {
            font-size: 11px;
            margin: 2px 0;
            font-weight: 100 !important;
        }

        .booking-info {
            display: flex;
            justify-content: space-between;
            padding: 0px 20px;
            padding-top: 17px;
            padding-bottom: 7px;
            font-size: 11px;
            background-color: white;
        }

        .booking-info span {
            color: #242424;
            font-weight: 400;
        }

        .booking-info strong {
            color: #1B3F6D;
            font-weight: 500;
        }

        .content-section {
            padding: 5px 20px;
            flex-grow: 1;
        }

        .section-title {
            font-size: 11px;
            font-weight: 400;
            color: #242424;
            margin-bottom: 10px;
            margin-top: 6px;
        }

        .info-box {
            background-color: #F3F9FF;
            border-radius: 8px;
            padding: 12px 15px;
            margin-bottom: 10px;
            border: 0.5px solid #D9D9D9;
        }

        .info-row {
            display: flex;
            margin-bottom: 12px;
            font-size: 11px;
            align-items: flex-start;
        }

        .info-row:last-child {
            margin-bottom: 0;
        }

        .info-label {
            min-width: 140px;
            color: #242424;
            font-weight: 400;
        }

        .info-value {
            color: #1B3F6D;
            flex: 1;
            font-weight: 500;
        }

        .text-section {
            margin-bottom: 10px;
            border: 0.5px solid #D9D9D9;
            border-radius: 8px;
            padding: 12px 15px;
            background-color: #ffff;
        }

        .text-section-title {
            font-size: 10px;
            font-weight: 400;
            color: #242424;
            margin-bottom: 8px;
        }

        .text-section-content {
            font-size: 10px;
            color: #222;
            line-height: 1.6;
            font-weight: 550;
        }

        .referred-by-section {
            padding: 0 20px 22px;
        }

        .referred-by-title {
            font-size: 13px;
            font-weight: 600;
            color: #242424;
            margin-bottom: 5px;
            margin-top: 8px;
        }

        .referred-box {
            background-color: #F3F9FF;
            border-radius: 8px;
            padding: 18px 20px;
            border: 1px solid #E8F2FD;
        }

        .referred-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
        }

        .referred-item {
            font-size: 11px;
        }

        .referred-label {
            color: #242424;
            font-weight: 400;
            display: block;
            margin-bottom: 4px;
        }

        .referred-value {
            color: #1B3F6D;
            font-weight: 500;
            word-wrap: break-word;
        }

        .qr-signature-container {
            display: flex;
            padding: 0 35px 25px;
            gap: 25px;
            align-items: flex-start;
        }

        .qr-container {
            width: 90px;
            flex-shrink: 0;
        }

        .qr-container img {
            width: 100%;
            height: auto;
            border-radius: 4px;
        }

        .qr-label {
            margin-top: 6px;
            font-size: 9px;
            color: #666;
            text-align: center;
            font-weight: 500;
        }

        .signature-section {
            font-size: 11px;
            color: #242424;
            line-height: 1.8;
            flex: 1;
        }

        .signature-section p {
            margin: 5px 0;
        }

        .signature-section strong {
            font-weight: 400;
            color: #242424;
        }

        .signature-value {
            color: #1B3F6D;
            font-weight: 500;
            word-break: break-all;
        }

        .footer-text {
            background-color: #1B3F6D;
            color: white;
            font-size: 9px;
            text-align: justify;
            padding: 15px 20px;
            line-height: 1.7;
            font-weight: 200;
        }

        .footer-text strong {
            font-weight: 600;
        }

        @media print {
            body {
                background-color: white;
                padding: 0;
            }

            .page {
                box-shadow: none;
                margin: 0;
            }
        }
         .logo_url {
            height: 30px;
            object-fit: contain;
        }
    </style>
</head>

<body>
    <div class="page">
        <!-- Header -->
        <div class="header">
            <div class="header-left">
                <div class="header-logo">
                    <img class="logo_url" src="<%= logo_url || 'https://dtl3fe7urqkwq.cloudfront.net/logo.png' %>" alt="SendScript">
                </div>
                <div class="header-title">Request Form</div>
            </div>
            <div class="clinic-details">
                <p class="clinic-name" style="font-size: 14px; font-weight: 400;">
                    <%= clinic.name %>
                </p>
                <p>
                    <%= clinic.address_line_1 %>
                </p>
                <p>
                    <%= clinic.address_line_2 %>
                </p>
                <p>
                    <%= clinic.city %>, <%= clinic.country %>
                </p>
                <p>
                    <%= clinic.postal_code %>
                </p>
                <p>Contact Number: <%= clinic.contact_number %>
                </p>
                <p>Email: <%= clinic.email %>
                </p>
            </div>
        </div>

        <!-- Booking Info -->
        <div class="booking-info">
            <span>Booking ID: <strong>
                    <%= booking_id %>
                </strong></span>
            <span>Requested Date:
                <strong>
                    <%= (()=> {
                        if (!requested_date) return 'NA';
                        const date = new Date(requested_date);
                        const day = String(date.getDate()).padStart(2, '0');
                        const month = String(date.getMonth() + 1).padStart(2, '0');
                        const year = String(date.getFullYear());
                        return `${day}/${month}/${year}`;
                        })() %>
                </strong>
            </span>
        </div>

        <!-- Content Section -->
        <div class="content-section">
            <!-- Patient Details -->
            <div class="section-title">Patient Details</div>
            <div class="info-box">
                <div class="info-row">
                    <div class="info-label">Patient Name:</div>
                    <div class="info-value">
                        <%= patient.name %>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-label">Date Of Birth:</div>
                    <div class="info-value">
                        <%= (()=> {
                            if (!patient.dob) return 'NA';
                            const date = new Date(patient.dob);
                            const day = String(date.getDate()).padStart(2, '0');
                            const month = String(date.getMonth() + 1).padStart(2, '0');
                            const year = String(date.getFullYear());
                            return `${day}/${month}/${year}`;
                        })() %> &nbsp;&nbsp;&nbsp; Age: <%= patient_age %>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-label">Phone Number:</div>
                    <div class="info-value">
                        <%= patient.country_code %> <%= patient.mobile %>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-label">Address:</div>
                    <div class="info-value">
                        <%= (()=> {
                            const address = [
                            patient.address_line_1,
                            patient.address_line_2,
                            patient.city,
                            patient.country,
                            patient.postal_code
                            ].filter(Boolean).join(', ');
                            return address || 'NA';
                            })() %>
                    </div>
                </div>
            </div>

            <!-- Scan Details -->
            <div class="section-title">Scan Details</div>
            <div class="info-box">
                <div class="info-row">
                    <div class="info-label">Scan Type:</div>
                    <div class="info-value">
                        <%= scan_name || 'NA' %>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-label">Department:</div>
                    <div class="info-value">
                        <%= department_name || 'NA' %>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-label">Body Parts:</div>
                    <div class="info-value">
                        <%= body_parts || 'NA' %>
                    </div>
                </div>
            </div>

            <!-- Clinical Information -->
            <div class="text-section">
                <div class="text-section-title">Clinical Information</div>
                <div class="text-section-content">
                    <%= clinical_indication %>
                </div>
            </div>

            <!-- Additional Information -->
            <div class="text-section">
                <div class="text-section-title">Additional Information</div>
                <div class="text-section-content">
                    <%= additional_information %>
                </div>
            </div>
        </div>

        <!-- Referred By Section -->
        <div class="referred-by-section">
            <div class="referred-by-title">Referred By</div>
            <div class="referred-box">
                <div class="referred-grid">
                    <div class="referred-item">
                        <span class="referred-label">Name:</span>
                        <div class="referred-value">
                            <%= doctor.title %>
                                <%= doctor.first_name %>
                                    <%= doctor.sur_name %>
                        </div>
                    </div>
                    <div class="referred-item">
                        <span class="referred-label">Registration No:</span>
                        <div class="referred-value">GMC - <%= doctor.gmc_number %>
                        </div>
                    </div>
                    <div class="referred-item">
                        <span class="referred-label">Qualification:</span>
                        <div class="referred-value">
                            <%= doctor.qualification %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- QR and Signature Section -->
        <div class="qr-signature-container">
            <div class="qr-container">
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://sendscript.com/requestform"
                    alt="QR Code">
                <div class="qr-label">Scan to download</div>
            </div>
            <div class="signature-section">
                <p>This request has been signed using an advanced electronic signature</p>
                <p><strong>E-signature:</strong> <span class="signature-value">
                        <%= doctor.esign %>
                    </span></p>
                <p><strong>Time of signature:</strong> <span class="signature-value">
                        <%= (()=> {
                        if (!requested_date) return 'NA';
                        const date = new Date(requested_date);
                        const options = {
                        day: '2-digit',
                        month: 'short',
                        year: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: true,
                        timeZone: 'UTC'
                        };
                        return date.toLocaleString('en-GB', options).replace(',', '');
                        })() %>
                    </span></p>
                <p>To download request form visit: <span class="signature-value">www.sendscript.com/scan-referral-form</span>
                </p>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer-text">
            <p><strong>To the Hospitals:</strong> SendScript is a secure online platform that allows doctors to send
                scan requests directly to hospitals and diagnostic centers. All our prescribers are fully qualified and
                registered with their respective clinical boards. Scan requests are issued following a thorough patient
                assessment, conducted either in-person or through remote consultations. We appreciate your support in
                receiving and processing these requests. Request forms can be downloaded from our website using the
                Booking ID and Date of Birth. Once the scan is completed, the report can be uploaded directly to the
                platform for the referring doctor to access. For any questions or assistance, please contact our support
                team.</p>
        </div>
    </div>
</body>

</html>