<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .logo {
            max-width: 150px;
        }
        .footer {
            margin-top: 30px;
            font-size: 12px;
            color: #777;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="https://d2pznqasld4zpy.cloudfront.net/common/WebLogo.svg" alt="Company Logo" class="logo">
        <h2>Hello Mr. Vignesh K! 😃</h2>
    </div>

    <p>Kindly check your email, <%= module %> has been registered and waiting for <b> VERIFICATION PENDING!!! </b></p>

    <p><%= module %> Name: <%= name %></p>
    <% if (typeof email !== 'undefined' && email) { %>
        <p><%= module %> Email: <%= email %></p>
    <% } %>
    
    <% if (typeof phone !== 'undefined' && phone) { %>
        <p><%= module %> Phone: <%= phone %></p>
    <% } %>
    <p>If you have any questions or concerns, feel free to reach out to development team ✌️</p>

    <p>If you believe this message was sent in error, please ignore this email.</p>

    <div class="footer">
        <p>Warm regards,<br>Daivtech Team!</p>
    </div>
</body>
</html>
